.about-section {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background color */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;


  }
  
  .about-section h3 {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .about-section p {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
  }
  