.container {
    display: flex;
    justify-content: center;
  }
  
  .table-responsive {
    max-width: 100%;
    overflow-x: auto;
  }
  
  .mat-elevation-z8 {
    width: auto;
    margin: 0 auto;
  }
  