<div class="product-cards-container">
    <mat-card *ngFor="let productItem of this.productItems" class="product-card">
      <mat-card-header>
        <mat-card-title>{{ productItem.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Price:</strong> {{ productItem.price }}</p>
        <p><strong>Description:</strong> {{ productItem.description }}</p>
        <p><strong>Specification:</strong> {{ productItem.specification }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="addToCart(productItem)">Add</button>
      </mat-card-actions>
    </mat-card>
  </div>
  